<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
    
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default 
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>-->
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder> 
            <pattern>%d{dd/MM/yyyy - HH:mm:ss,SSS} | %-5p | %F:%3L => [%m]%n</pattern> 
        </encoder> 
    </appender> 
    <root level="debug"> 
        <appender-ref ref="STDOUT" /> 
    </root> 
    <!--    <logger name="org.hibernate.type" level="ERROR" /> 
    <logger name="org.hibernate.SQL" level="ERROR" /> 
    <logger name="org.hibernate" level="ERROR" />-->
</configuration>
